.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #9c27b0, #d81b60);
  }
  
  mat-card {
    width: 400px;
    padding: 20px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  button {
    width: 100%;
    margin-top: 15px;
  }